#social.typekit-nowait
  a#github.icon(href="http://github.com/astrolet") github
  br
  a#twitter.icon(href="http://twitter.com/astrolet") twitter
  //br
  //a#email.icon(href="mailto:info@astrolet.net") email

#index
  #spinner
  #welcome
    p
      | Making astrology software for the makers,
      | check out the code at&nbsp;
      a(href="http://astrolin.org") astrolin.org
      | &nbsp;to begin with.
      | More to come...
    p.pushed
      | Please contact&nbsp;
      a(href="mailto:info@astrolet.net") info@astrolet.net
      | &nbsp;if you'd like to see something specific happen or help get it built.
      | Let's collaborate!
