#social.typekit-nowait
  a#github.icon(href="http://github.com/astrolet") github
  br
  a#twitter.icon(href="http://twitter.com/astrolet") twitter
  //br
  //a#email.icon(href="mailto:info@astrolet.net") email

#index
  #spinner
  #welcome
    p
      :marked
        Astrolet is a solo-bootstrapped startup, presently being restarted from scratch with a new technology stack.  As it stands, most of the [astrolin.org](http://astrolin.org) code will not be maintained.  Feel free to [contact me](mailto:orlin@astrolet.net).
