#social.typekit-nowait
  a#github.icon(href="http://github.com/astrolet") github
  br
  a#twitter.icon(href="http://twitter.com/orlin") twitter
  br
  a#email.icon(href="mailto:orlin@astrolet.net") email

#index
  #spinner
  #welcome
    p
      :marked
        Astrolet is a solo-bootstrapped startup, presently being restarted from scratch with a new technology stack.  As it stands, most of the [astrolin.org](http://astrolin.org) code will not be maintained.
    p.pushed
      :marked
        Look at [github.com/astrolin](https://github.com/astrolin) - a forthcoming [Clojure](https://clojure.org) implementation of my development direction, merely a humble new beginning...
    p.pushed
      :marked
        Feel free to [contact me](https://keybase.io/oto).
